<h1>Welcome To Rock Paper Scissors</h1>
<p>The rules are simple. You have three options:</p>
<ul>
  <li>rock</li>
  <li>paper</li>
  <li>scissors</li>
</ul>
<h2>Remember!</h2>
<ul>
  <li>paper covers rock</li>
  <li>scissors cut paper</li>
  <li>rock smashes scissors</li>
</ul>
<p>choose two options and put them in the address bar after /result/ to see who wins!</p>
<p>Come back again soon, maybe we will add lizard and spock ;)</p>
